HOST_MODELS_DIR=./models
HOST_RESULTS_DIR=./results
HOST_DATA_DIR=./data
HOST_CONFIG_DIR=./config
HOST_LOGS_DIR=./logs

# just the name of the config file in the config directory, e.g. settings-dev.yam
CONFIG_FILE=settings-dev.yaml 

UID=1031
GID=1031