HOST_MODELS_DIR=./models
HOST_RESULTS_DIR=./results
HOST_DATA_DIR=./data
HOST_CONFIG_DIR=./config
HOST_LOGS_DIR=./logs
HISTOSEG_DATABASE_URL=postgresql+psycopg2://histoseg:histoseg@db:5432/histoseg

POSTGRES_USER=histoseg
POSTGRES_PASSWORD=change-me
POSTGRES_DB=histoseg

UID=1000
GID=1000